/* Base mínima para empezar */

/* Reset */
* {
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

/* El body se convierte en contenedor flexible, dispuesto en columnas y que ocupe todo el alto de la ventana */

body {
    margin:0%;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Zonas principales */

/* CABECERA con FLEX:
    dos zonas: logo+título y menu de navegación*/
.cabecera {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #2C3E50;
}
/* Logo */
.logo {
    height: 100px;
    width: auto;

}

/* Menú horizontal con flex */
.menu {
    list-style: none;   /* Eliminamos las viñetas */
    display: flex;      /* Colocamos los elementos en fila */
    gap: 1rem;          /* Espacio entre los items/enlaces */
    margin: 0;
    padding: 0;
}

/* Estilo básico de los enlaces del menú */

.menu a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Pseudoclase hover: cambiamos el estilo al situar el cursor */

.menu a:hover {
    color: #7f8c8d ;
}

/* Estilo básico de los enlaces en tarjetas */

.tarjeta a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Pseudoclase hover */

.tarjeta a:hover {
    color: #7f8c8d;
}

#contenido-principal {
    padding: 1rem;
    flex-grow: 1;       /* Aplicamos factor de crecimiento para "empujar" al footer */
}

.tarjeta {
    background: #fff;
    border-radius: 10px;
    width: min(900px, 95%);
    margin: 1.5rem auto;
    padding: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
    border: 1px solid #ddd;
}

.contacto {
    background-color: #fff;
    border: 3px solid yellowgreen;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 380px;
    min-width: 380px;
    max-width: 380px;
    padding: 1rem;
    margin: 0 auto;
}

fieldset {
    border: 1px solid yellowgreen;
    border-radius: 3px;
    max-width: 380px;

}

fieldset textarea{
    max-width: 310px;
    min-width: 100px;
    min-height: 100px;
}

.form-row {
    display: flex;
    flex-direction: column;
}

.form-row p {
    font-weight: bold;

}

.form-row button {
    display: flex;
    flex-direction:column;
    padding: 0.5rem;
    margin: 10px auto;
}

.pie {
    text-align: center;
    padding: 1rem;
    color: #7f8c8d;
    font-size:  14px;
    background: #2C3E50;
}